body{
    background: rgb(209, 209, 209);
}
.conteudoCentral{

    width: 70%;
    /* margin-left: 40px;
    margin-right: 40px; */
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    background: rgb(227, 255, 251);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    box-shadow: 5px 5px 15px 5px rgba(128, 128, 128, 0.246)
}

/* Tipos de Tarefas */

.navTipoDeTarefas{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.itemTipoTarefa{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 8px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: space-between;
    -webkit-box-shadow: 2px 2px 5px 2px rgba(71, 71, 71, 0.146);
    box-shadow: 2px 2px 5px 2px rgba(71, 71, 71, 0.146);
}
/* Tarefas */

.conteudoNovaTarefa{
    text-align: center;
}

